In [1]:
import csv
import pandas as pd
business_file ='yelp_academic_dataset_business.csv'
tips_file ='yelp_academic_dataset_tip.csv'
reviews_file = 'yelp_academic_dataset_review.csv'
tips_fields = ['business_id','user_id','date']
business_fields = ['attributes_Price Range','name','business_id', 
                   'categories','review_count', 'stars']

business_dataframe = pd.read_csv(business_file, low_memory=False, usecols= business_fields)

tips_dataframe = pd.read_csv(tips_file, low_memory= False, usecols = tips_fields)

business_dataframe = pd.read_csv(business_file, low_memory=False, usecols= business_fields)

tips_dataframe = pd.read_csv(tips_file, low_memory= False, usecols = tips_fields)

In [16]:
business_dataframe.head()

,attributes_Price Range,business_id,categories,name,review_count,stars,state
0,1,5UmKMjUEUNdYWqANhGckJw,"Fast Food,Restaurants",Mr Hoagie,7,3.5,PA
1,1,UsFtqoBl7naz8AVUBZMjQQ,Nightlife,Clancy's Pub,5,3.0,PA
2,NaN,cE27W9VPgO88Qxe4ol6y_g,"Active Life,Mini Golf,Golf",Cool Springs Golf Center,5,2.5,PA
3,2,mVHrayjG3uZ_RLHkLj-AMg,"Bars,American (New),Nightlife,Lounges,Restaurants",Emil's Lounge,26,4.5,PA
4,NaN,mYSpR_SLPgUVymYOvTQd_Q,"Active Life,Golf",Grand View Golf Club,3,5.0,PA

In [26]:
tips_dataframe.head()

              business_id                 user_id  year month
0  5UmKMjUEUNdYWqANhGckJw  ZxdojCZgZhw36xuSGaryRg  2016    07
1  cE27W9VPgO88Qxe4ol6y_g  -6rEfobYjMxpUWLNxszaxQ  2013    04
2  mVHrayjG3uZ_RLHkLj-AMg  5OumCBQ_MyQsltSdbMyunA  2016    02
3  mVHrayjG3uZ_RLHkLj-AMg  EZ0r9dKKtEGVx2CdnowPCw  2013    01
4  KayYbHCt-RkbGcPdGOThNg  xb6zEQCw9I-Gl0g06e1KsQ  2013    12

In [2]:
tip_dates  = tips_dataframe['date'].tolist()

In [3]:
year = []
month = []
for i in tips_dataframe.index:
    y, m, d =tip_dates[i].split('-')
    year.append(y)
    month.append(m)

In [4]:
tips_dataframe["year"] = year

In [5]:
tips_dataframe['month'] = month

In [6]:
tips_dataframe.head()

              business_id        date                 user_id  year month
0  5UmKMjUEUNdYWqANhGckJw  2016-07-17  ZxdojCZgZhw36xuSGaryRg  2016    07
1  cE27W9VPgO88Qxe4ol6y_g  2013-04-18  -6rEfobYjMxpUWLNxszaxQ  2013    04
2  mVHrayjG3uZ_RLHkLj-AMg  2016-02-22  5OumCBQ_MyQsltSdbMyunA  2016    02
3  mVHrayjG3uZ_RLHkLj-AMg  2013-01-06  EZ0r9dKKtEGVx2CdnowPCw  2013    01
4  KayYbHCt-RkbGcPdGOThNg  2013-12-03  xb6zEQCw9I-Gl0g06e1KsQ  2013    12

In [8]:
del tips_dataframe['date']

In [9]:
review_fields = ['business_id', 'user_id','date','stars']
reviews_dataframe = pd.read_csv(reviews_file, skipinitialspace = True, usecols = review_fields)

In [10]:
reviews_dataframe.head()

              business_id        date  stars                 user_id
0  5UmKMjUEUNdYWqANhGckJw  2012-08-01      4  PUFPaY9KxDAcGqfsorJp3Q
1  5UmKMjUEUNdYWqANhGckJw  2014-02-13      5  Iu6AxdBYGR4A0wspR9BYHA
2  5UmKMjUEUNdYWqANhGckJw  2015-10-31      5  auESFwWvW42h6alXgFxAXQ
3  5UmKMjUEUNdYWqANhGckJw  2015-12-26      3  qiczib2fO_1VBG8IoCGvVg
4  5UmKMjUEUNdYWqANhGckJw  2016-04-08      2  qEE5EvV-f-s7yHC0Z4ydJQ

In [32]:
reviews_dataframe = reviews_dataframe[reviews_dataframe.date.str.contains('20')]

In [33]:
reviews_dataframe.index

Int64Index([      0,       1,       2,       3,       4,       5,       6,
                  7,       8,       9,
            ...
            2685057, 2685058, 2685059, 2685060, 2685061, 2685062, 2685063,
            2685064, 2685065, 2685066],
           dtype='int64', length=2685066)

In [34]:
review_dates = reviews_dataframe['date'].tolist()
r_year = []
r_month = []
for i in reviews_dataframe['date'].index:
    y, m,d = reviews_dataframe['date'][i].split('-')
    r_year.append(y)
    r_month.append(m)

In [35]:
reviews_dataframe['year'] = r_year

In [36]:
reviews_dataframe['month'] = r_month

In [37]:
reviews_dataframe.head()

,business_id,date,stars,user_id,year,month
0,5UmKMjUEUNdYWqANhGckJw,2012-08-01,4,PUFPaY9KxDAcGqfsorJp3Q,2012,08
1,5UmKMjUEUNdYWqANhGckJw,2014-02-13,5,Iu6AxdBYGR4A0wspR9BYHA,2014,02
2,5UmKMjUEUNdYWqANhGckJw,2015-10-31,5,auESFwWvW42h6alXgFxAXQ,2015,10
3,5UmKMjUEUNdYWqANhGckJw,2015-12-26,3,qiczib2fO_1VBG8IoCGvVg,2015,12
4,5UmKMjUEUNdYWqANhGckJw,2016-04-08,2,qEE5EvV-f-s7yHC0Z4ydJQ,2016,04

In [101]:
ratings_grouped = pd.DataFrame(reviews_dataframe.groupby(['business_id','year','month'])['stars'].mean().fillna(0))

In [102]:
ratings_grouped = ratings_grouped.reset_index()

In [27]:
tips_grouped = pd.DataFrame(tips_dataframe.
                               groupby(['business_id','year','month'])
                               ['user_id'].apply(list))

In [43]:
reviews_grouped = pd.DataFrame(reviews_dataframe.groupby(['business_id','year','month'])['user_id'].apply(list))

In [51]:
ratings_grouped = ratings_grouped.reset_index()
reviews_grouped = reviews_grouped.reset_index()

In [106]:
ratings_grouped.head(n=20)

               business_id  year month  stars
0   --0ZoBTQWQra1FxD4rBWmg  2014    12      1
1   --0ZoBTQWQra1FxD4rBWmg  2015    10      1
2   --0ZoBTQWQra1FxD4rBWmg  2016    01      3
3   --1emggGHgoG6ipd_RMb-g  2013    06      5
4   --1emggGHgoG6ipd_RMb-g  2013    10      1
5   --1emggGHgoG6ipd_RMb-g  2014    06      4
6   --4Pe8BZ6gj57VFL5mUE8g  2009    01      1
7   --4Pe8BZ6gj57VFL5mUE8g  2011    04      2
8   --4Pe8BZ6gj57VFL5mUE8g  2013    08      1
9   --4Pe8BZ6gj57VFL5mUE8g  2013    12      5
10  --4Pe8BZ6gj57VFL5mUE8g  2014    07      5
11  --4Pe8BZ6gj57VFL5mUE8g  2015    06      1
12  --4Pe8BZ6gj57VFL5mUE8g  2015    07      5
13  --4Pe8BZ6gj57VFL5mUE8g  2016    06      2
14  --5jkZ3-nUPZxUvtcbr8Uw  2011    07      5
15  --5jkZ3-nUPZxUvtcbr8Uw  2011    10      5
16  --5jkZ3-nUPZxUvtcbr8Uw  2011    12      5
17  --5jkZ3-nUPZxUvtcbr8Uw  2012    02      3
18  --5jkZ3-nUPZxUvtcbr8Uw  2012    05      5
19  --5jkZ3-nUPZxUvtcbr8Uw  2012    07      5

In [107]:
reviews_merged = pd.merge(ratings_grouped, reviews_grouped, on=['business_id','year','month'],how='inner')

In [108]:
reviews_merged.head()

              business_id  year month  stars  review_count
0  --0ZoBTQWQra1FxD4rBWmg  2014    12      1             1
1  --0ZoBTQWQra1FxD4rBWmg  2015    10      1             1
2  --0ZoBTQWQra1FxD4rBWmg  2016    01      3             2
3  --1emggGHgoG6ipd_RMb-g  2013    06      5             1
4  --1emggGHgoG6ipd_RMb-g  2013    10      1             1

In [109]:
tips_count = []
for i in tips_grouped.index:
    tips_count.append(len(tips_grouped['user_id'][i]))

In [57]:
tips_grouped['tips_count']=tips_count

In [59]:
review_count = []
for i in reviews_grouped.index:
    review_count.append(len(reviews_grouped['user_id'][i]))

In [89]:
reviews_merged['review_count'] = review_count
reviews_merged.head()

,business_id,year,month,stars,user_id,review_count
0,--0ZoBTQWQra1FxD4rBWmg,2014,12,1,[3qWT-hhx44Yl48UcX7fdQQ],1
1,--0ZoBTQWQra1FxD4rBWmg,2015,10,1,[tTQwXGXwGrcEnrJ4gziGAg],1
2,--0ZoBTQWQra1FxD4rBWmg,2016,01,3,"[N6slaZ-6YyMTsIzlSnXoZg, LzT8mSfliJHhs68RTwQW5w]",2
3,--1emggGHgoG6ipd_RMb-g,2013,06,5,[5hBsVMJOc8sXMPt8S3NjmA],1
4,--1emggGHgoG6ipd_RMb-g,2013,10,1,[6DuBPBgCN6YMowFwrp_P5g],1

In [90]:
del reviews_merged['user_id']

In [69]:
tips_grouped = tips_grouped.reset_index()

In [110]:
#merging the tips and reviews

merged_tips_reviews = pd.merge(tips_grouped, reviews_merged, how = 'outer',
                               on = ['business_id','year','month'],
                               right_index = True, left_index = False)

In [111]:
merged_tips_reviews.head()

,business_id,year,month,user_id,tips_count,stars,review_count
0,--0ZoBTQWQra1FxD4rBWmg,2014,03,[3qWT-hhx44Yl48UcX7fdQQ],1,NaN,NaN
1,--0ZoBTQWQra1FxD4rBWmg,2015,10,[tTQwXGXwGrcEnrJ4gziGAg],1,1,1
2,--1emggGHgoG6ipd_RMb-g,2013,06,[5hBsVMJOc8sXMPt8S3NjmA],1,5,1
3,--1emggGHgoG6ipd_RMb-g,2013,09,[6DuBPBgCN6YMowFwrp_P5g],1,NaN,NaN
4,--1emggGHgoG6ipd_RMb-g,2014,02,[jt4zoa6tk5q-4mWtuKHEPg],1,NaN,NaN

In [114]:
merged_tips_reviews['review_count'].fillna(0, inplace=True)
merged_tips_reviews['tips_count'].fillna(0, inplace=True)
merged_tips_reviews['stars'].fillna(0, inplace=True)
merged_tips_reviews.rename(columns = {'stars':'user_stars','review_count':'count_reviews','tips_count':'count_tips'})

,business_id,year,month,user_id,count_tips,user_stars,count_reviews
0,--0ZoBTQWQra1FxD4rBWmg,2014,03,[3qWT-hhx44Yl48UcX7fdQQ],1,0.000000,0
1,--0ZoBTQWQra1FxD4rBWmg,2015,10,[tTQwXGXwGrcEnrJ4gziGAg],1,1.000000,1
2,--1emggGHgoG6ipd_RMb-g,2013,06,[5hBsVMJOc8sXMPt8S3NjmA],1,5.000000,1
3,--1emggGHgoG6ipd_RMb-g,2013,09,[6DuBPBgCN6YMowFwrp_P5g],1,0.000000,0
4,--1emggGHgoG6ipd_RMb-g,2014,02,[jt4zoa6tk5q-4mWtuKHEPg],1,0.000000,0
5,--1emggGHgoG6ipd_RMb-g,2014,04,[jlEAr91TDq1cdeE7P_MPnQ],1,0.000000,0
6,--1emggGHgoG6ipd_RMb-g,2014,06,[iHbJlgmSTdZro6j8od1Phw],1,4.000000,1
7,--1emggGHgoG6ipd_RMb-g,2014,07,[jt4zoa6tk5q-4mWtuKHEPg],1,0.000000,0
8,--1emggGHgoG6ipd_RMb-g,2014,10,[jt4zoa6tk5q-4mWtuKHEPg],1,0.000000,0
9,--4Pe8BZ6gj57VFL5mUE8g,2014,07,[epN0_Z-MWmx1DxO0FC7k9w],1,5.000000,1
10,--4Pe8BZ6gj57VFL5mUE8g,2016,06,[3I0Ks0eAf3QjD3EvP2qFGw],1,2.000000,1
11,--5jkZ3-nUPZxUvtcbr8Uw,2011,09,"[rAfN_eXc7PvtISk2ZIZfGQ, X1C6Ufo9Y0OxoxORBYPOLA]",2,0.000000,0
12,--5jkZ3-nUPZxUvtcbr8Uw,2011,11,[ByOxnioKRball6-8UXn04w],1,0.000000,0
13,--5jkZ3-nUPZxUvtcbr8Uw,2011,12,[ehhIzy0QaQ9B-V4VVMgYmQ],1,5.000000,1
14,--5jkZ3-nUPZxUvtcbr8Uw,2012,01,[a8gpBi7biN9VAoJwKgl3Xw],1,0.000000,0
15,--5jkZ3-nUPZxUvtcbr8Uw,2012,03,[nE5cyRKybI4-2iMQedWdAQ],1,0.000000,0
16,--5jkZ3-nUPZxUvtcbr8Uw,2012,04,[ke-6ePNfYkNPfICmvlc6GA],1,0.000000,0
17,--5jkZ3-nUPZxUvtcbr8Uw,2012,09,[TuLjkOVG7jBPADZ3nIg5vw],1,0.000000,0
18,--5jkZ3-nUPZxUvtcbr8Uw,2012,10,[TuLjkOVG7jBPADZ3nIg5vw],1,0.000000,0
19,--5jkZ3-nUPZxUvtcbr8Uw,2013,02,[oZuNME_exUMSjrcg6uRFjw],1,5.000000,1
20,--5jkZ3-nUPZxUvtcbr8Uw,2013,06,[wFDP8aO0ba06wooS8rqcVw],1,5.000000,1
21,--5jkZ3-nUPZxUvtcbr8Uw,2013,08,[dCaWSJCE4Cb52VisCSM7XA],1,0.000000,0
22,--5jkZ3-nUPZxUvtcbr8Uw,2013,09,[QAtL9roCZeqQlLDB-Ara7g],1,4.000000,1
23,--5jkZ3-nUPZxUvtcbr8Uw,2013,10,[xGMHBVBsnJEdfVoTxjFL0Q],1,4.000000,1
24,--5jkZ3-nUPZxUvtcbr8Uw,2014,04,"[P1fXuGmbdTz_jfEZLbWYcA, kp-PUDzJmf1VS0Ln-2McVw]",2,4.600000,5
25,--5jkZ3-nUPZxUvtcbr8Uw,2014,06,[X1C6Ufo9Y0OxoxORBYPOLA],1,4.500000,2
26,--5jkZ3-nUPZxUvtcbr8Uw,2014,08,[qEYEXc8IW2RsGYRBhGklsg],1,0.000000,0
27,--5jkZ3-nUPZxUvtcbr8Uw,2014,10,[st4oBMn8HNfioAY6OK8T7g],1,4.500000,2
28,--5jkZ3-nUPZxUvtcbr8Uw,2015,01,[KrcQfk94lbXJOhMXvRffjg],1,4.500000,2
29,--5jkZ3-nUPZxUvtcbr8Uw,2015,04,[T9j8h-0W0aJeZZzd7vuDYg],1,4.333333,3
...,...,...,...,...,...,...,...
390513,zzrm5HEoYKEsfdi8XxSXuQ,2015,11,NaN,0,3.000000,1
390513,zzrm5HEoYKEsfdi8XxSXuQ,2015,12,NaN,0,1.000000,1
390513,zzrm5HEoYKEsfdi8XxSXuQ,2016,06,NaN,0,1.000000,1
390513,zztd3r04hvMTZh3ol7VC4g,2012,02,NaN,0,4.000000,1
390513,zztd3r04hvMTZh3ol7VC4g,2012,03,NaN,0,3.000000,1
390513,zztd3r04hvMTZh3ol7VC4g,2012,11,NaN,0,5.000000,1
390513,zztd3r04hvMTZh3ol7VC4g,2013,01,NaN,0,4.000000,1
390513,zztd3r04hvMTZh3ol7VC4g,2013,11,NaN,0,1.000000,1
390513,zztd3r04hvMTZh3ol7VC4g,2014,10,NaN,0,4.000000,1
390513,zztd3r04hvMTZh3ol7VC4g,2015,05,NaN,0,5.000000,1
390513,zzucnDH33KlmbkI4rLyQTA,2008,11,NaN,0,5.000000,1
390513,zzucnDH33KlmbkI4rLyQTA,2008,12,NaN,0,2.000000,1
390513,zzucnDH33KlmbkI4rLyQTA,2009,12,NaN,0,4.000000,1
390513,zzucnDH33KlmbkI4rLyQTA,2010,02,NaN,0,2.500000,2
390513,zzucnDH33KlmbkI4rLyQTA,2010,03,NaN,0,2.000000,1
390513,zzucnDH33KlmbkI4rLyQTA,2011,02,NaN,0,4.000000,1
390513,zzucnDH33KlmbkI4rLyQTA,2011,03,NaN,0,4.000000,1
390513,zzucnDH33KlmbkI4rLyQTA,2011,05,NaN,0,5.000000,1
390513,zzucnDH33KlmbkI4rLyQTA,2011,08,NaN,0,5.000000,1
390513,zzucnDH33KlmbkI4rLyQTA,2012,01,NaN,0,5.000000,1
390513,zzucnDH33KlmbkI4rLyQTA,2013,01,NaN,0,4.500000,2
390513,zzucnDH33KlmbkI4rLyQTA,2014,12,NaN,0,5.000000,1
390513,zzucnDH33KlmbkI4rLyQTA,2015,01,NaN,0,1.000000,1
390513,zzucnDH33KlmbkI4rLyQTA,2015,03,NaN,0,1.000000,1
390513,zzucnDH33KlmbkI4rLyQTA,2015,04,NaN,0,1.666667,3
390513,zzucnDH33KlmbkI4rLyQTA,2015,10,NaN,0,5.000000,1
390513,zzucnDH33KlmbkI4rLyQTA,2015,12,NaN,0,4.000000,4
390513,zzucnDH33KlmbkI4rLyQTA,2016,01,NaN,0,4.800000,5
390513,zzxb0YNkRvH1UgifuR3BvQ,2013,11,NaN,0,5.000000,1
390513,zzxb0YNkRvH1UgifuR3BvQ,2014,07,NaN,0,5.000000,1

In [113]:
merged_tips_reviews.head()

,business_id,year,month,user_id,tips_count,stars,review_count
0,--0ZoBTQWQra1FxD4rBWmg,2014,03,[3qWT-hhx44Yl48UcX7fdQQ],1,NaN,NaN
1,--0ZoBTQWQra1FxD4rBWmg,2015,10,[tTQwXGXwGrcEnrJ4gziGAg],1,1,1
2,--1emggGHgoG6ipd_RMb-g,2013,06,[5hBsVMJOc8sXMPt8S3NjmA],1,5,1
3,--1emggGHgoG6ipd_RMb-g,2013,09,[6DuBPBgCN6YMowFwrp_P5g],1,NaN,NaN
4,--1emggGHgoG6ipd_RMb-g,2014,02,[jt4zoa6tk5q-4mWtuKHEPg],1,NaN,NaN

In [115]:
business_tips_reviews=pd.merge(merged_tips_reviews,business_dataframe,on = 'business_id',how = 'inner')

In [117]:
business_tips_reviews.head()

business_tips_reviews.rename(columns = {'review_count_x':'count_reviews','review_count_y': 'total_reviews','tips_count':'count_tips','attributes_Price Range':'Price_Range'})

,business_id,year,month,user_id,count_tips,stars_x,count_reviews,Price_Range,categories,name,total_reviews,stars_y
0,--0ZoBTQWQra1FxD4rBWmg,2014,03,[3qWT-hhx44Yl48UcX7fdQQ],1,0,0,NaN,"Property Management,Home Services,Real Estate",Bourquin Residential Group,4,2.0
1,--0ZoBTQWQra1FxD4rBWmg,2015,10,[tTQwXGXwGrcEnrJ4gziGAg],1,1,1,NaN,"Property Management,Home Services,Real Estate",Bourquin Residential Group,4,2.0
2,--0ZoBTQWQra1FxD4rBWmg,2014,12,NaN,0,1,1,NaN,"Property Management,Home Services,Real Estate",Bourquin Residential Group,4,2.0
3,--0ZoBTQWQra1FxD4rBWmg,2016,01,NaN,0,3,2,NaN,"Property Management,Home Services,Real Estate",Bourquin Residential Group,4,2.0
4,--1emggGHgoG6ipd_RMb-g,2013,06,[5hBsVMJOc8sXMPt8S3NjmA],1,5,1,1,"Food,Convenience Stores",Sinclair,4,4.0
5,--1emggGHgoG6ipd_RMb-g,2013,09,[6DuBPBgCN6YMowFwrp_P5g],1,0,0,1,"Food,Convenience Stores",Sinclair,4,4.0
6,--1emggGHgoG6ipd_RMb-g,2014,02,[jt4zoa6tk5q-4mWtuKHEPg],1,0,0,1,"Food,Convenience Stores",Sinclair,4,4.0
7,--1emggGHgoG6ipd_RMb-g,2014,04,[jlEAr91TDq1cdeE7P_MPnQ],1,0,0,1,"Food,Convenience Stores",Sinclair,4,4.0
8,--1emggGHgoG6ipd_RMb-g,2014,06,[iHbJlgmSTdZro6j8od1Phw],1,4,1,1,"Food,Convenience Stores",Sinclair,4,4.0
9,--1emggGHgoG6ipd_RMb-g,2014,07,[jt4zoa6tk5q-4mWtuKHEPg],1,0,0,1,"Food,Convenience Stores",Sinclair,4,4.0
10,--1emggGHgoG6ipd_RMb-g,2014,10,[jt4zoa6tk5q-4mWtuKHEPg],1,0,0,1,"Food,Convenience Stores",Sinclair,4,4.0
11,--1emggGHgoG6ipd_RMb-g,2013,10,NaN,0,1,1,1,"Food,Convenience Stores",Sinclair,4,4.0
12,--4Pe8BZ6gj57VFL5mUE8g,2014,07,[epN0_Z-MWmx1DxO0FC7k9w],1,5,1,3,"Shopping,Office Equipment",Office Max,9,3.0
13,--4Pe8BZ6gj57VFL5mUE8g,2016,06,[3I0Ks0eAf3QjD3EvP2qFGw],1,2,1,3,"Shopping,Office Equipment",Office Max,9,3.0
14,--4Pe8BZ6gj57VFL5mUE8g,2009,01,NaN,0,1,1,3,"Shopping,Office Equipment",Office Max,9,3.0
15,--4Pe8BZ6gj57VFL5mUE8g,2011,04,NaN,0,2,1,3,"Shopping,Office Equipment",Office Max,9,3.0
16,--4Pe8BZ6gj57VFL5mUE8g,2013,08,NaN,0,1,1,3,"Shopping,Office Equipment",Office Max,9,3.0
17,--4Pe8BZ6gj57VFL5mUE8g,2013,12,NaN,0,5,1,3,"Shopping,Office Equipment",Office Max,9,3.0
18,--4Pe8BZ6gj57VFL5mUE8g,2015,06,NaN,0,1,1,3,"Shopping,Office Equipment",Office Max,9,3.0
19,--4Pe8BZ6gj57VFL5mUE8g,2015,07,NaN,0,5,1,3,"Shopping,Office Equipment",Office Max,9,3.0
20,--5jkZ3-nUPZxUvtcbr8Uw,2011,09,"[rAfN_eXc7PvtISk2ZIZfGQ, X1C6Ufo9Y0OxoxORBYPOLA]",2,0,0,1,"Greek,Vegetarian,Mediterranean,Restaurants",Mika's Greek,127,4.5
21,--5jkZ3-nUPZxUvtcbr8Uw,2011,11,[ByOxnioKRball6-8UXn04w],1,0,0,1,"Greek,Vegetarian,Mediterranean,Restaurants",Mika's Greek,127,4.5
22,--5jkZ3-nUPZxUvtcbr8Uw,2011,12,[ehhIzy0QaQ9B-V4VVMgYmQ],1,5,1,1,"Greek,Vegetarian,Mediterranean,Restaurants",Mika's Greek,127,4.5
23,--5jkZ3-nUPZxUvtcbr8Uw,2012,01,[a8gpBi7biN9VAoJwKgl3Xw],1,0,0,1,"Greek,Vegetarian,Mediterranean,Restaurants",Mika's Greek,127,4.5
24,--5jkZ3-nUPZxUvtcbr8Uw,2012,03,[nE5cyRKybI4-2iMQedWdAQ],1,0,0,1,"Greek,Vegetarian,Mediterranean,Restaurants",Mika's Greek,127,4.5
25,--5jkZ3-nUPZxUvtcbr8Uw,2012,04,[ke-6ePNfYkNPfICmvlc6GA],1,0,0,1,"Greek,Vegetarian,Mediterranean,Restaurants",Mika's Greek,127,4.5
26,--5jkZ3-nUPZxUvtcbr8Uw,2012,09,[TuLjkOVG7jBPADZ3nIg5vw],1,0,0,1,"Greek,Vegetarian,Mediterranean,Restaurants",Mika's Greek,127,4.5
27,--5jkZ3-nUPZxUvtcbr8Uw,2012,10,[TuLjkOVG7jBPADZ3nIg5vw],1,0,0,1,"Greek,Vegetarian,Mediterranean,Restaurants",Mika's Greek,127,4.5
28,--5jkZ3-nUPZxUvtcbr8Uw,2013,02,[oZuNME_exUMSjrcg6uRFjw],1,5,1,1,"Greek,Vegetarian,Mediterranean,Restaurants",Mika's Greek,127,4.5
29,--5jkZ3-nUPZxUvtcbr8Uw,2013,06,[wFDP8aO0ba06wooS8rqcVw],1,5,1,1,"Greek,Vegetarian,Mediterranean,Restaurants",Mika's Greek,127,4.5
...,...,...,...,...,...,...,...,...,...,...,...,...
1310823,zzGy7cD_5E6sEhs-__u4Pg,2015,10,NaN,0,5,3,NaN,"Local Services,Sewing & Alterations","Rose's Alterations, Tailoring & Bridal Service...",6,3.5
1310824,zzGy7cD_5E6sEhs-__u4Pg,2016,02,NaN,0,1,1,NaN,"Local Services,Sewing & Alterations","Rose's Alterations, Tailoring & Bridal Service...",6,3.5
1310825,zzYURqVx-3W5STDMmh6oxw,2013,07,NaN,0,5,1,2,"Hair Salons,Hair Stylists,Makeup Artists,Beaut...",Babydoll Weddings,13,4.5
1310826,zzYURqVx-3W5STDMmh6oxw,2013,09,NaN,0,5,1,2,"Hair Salons,Hair Stylists,Makeup Artists,Beaut...",Babydoll Weddings,13,4.5
1310827,zzYURqVx-3W5STDMmh6oxw,2013,10,NaN,0,5,1,2,"Hair Salons,Hair Stylists,Makeup Artists,Beaut...",Babydoll Weddings,13,4.5
1310828,zzYURqVx-3W5STDMmh6oxw,2013,11,NaN,0,5,1,2,"Hair Salons,Hair Stylists,Makeup Artists,Beaut...",Babydoll Weddings,13,4.5
1310829,zzYURqVx-3W5STDMmh6oxw,2014,02,NaN,0,5,1,2,"Hair Salons,Hair Stylists,Makeup Artists,Beaut...",Babydoll Weddings,13,4.5
1310830,zzYURqVx-3W5STDMmh6oxw,2014,03,NaN,0,5,1,2,"Hair Salons,Hair Stylists,Makeup Artists,Beaut...",Babydoll Weddings,13,4.5
1310831,zzYURqVx-3W5STDMmh6oxw,2014,11,NaN,0,5,1,2,"Hair Salons,Hair Stylists,Makeup Artists,Beaut...",Babydoll Weddings,13,4.5
1310832,zzYURqVx-3W5STDMmh6oxw,2015,01,NaN,0,5,1,2,"Hair Salons,Hair Stylists,Makeup Artists,Beaut...",Babydoll Weddings,13,4.5
1310833,zzYURqVx-3W5STDMmh6oxw,2015,08,NaN,0,5,1,2,"Hair Salons,Hair Stylists,Makeup Artists,Beaut...",Babydoll Weddings,13,4.5
1310834,zzYURqVx-3W5STDMmh6oxw,2015,12,NaN,0,5,2,2,"Hair Salons,Hair Stylists,Makeup Artists,Beaut...",Babydoll Weddings,13,4.5
1310835,zzYURqVx-3W5STDMmh6oxw,2016,04,NaN,0,4,1,2,"Hair Salons,Hair Stylists,Makeup Artists,Beaut...",Babydoll Weddings,13,4.5
1310836,zzYURqVx-3W5STDMmh6oxw,2016,05,NaN,0,2,1,2,"Hair Salons,Hair Stylists,Makeup Artists,Beaut...",Babydoll Weddings,13,4.5
1310837,zze1eI588TqdJLs8xOzMxw,2011,04,NaN,0,4,1,1,"Food,Convenience Stores",Circle K,3,3.5
1310838,zze1eI588TqdJLs8xOzMxw,2012,01,NaN,0,3,1,1,"Food,Convenience Stores",Circle K,3,3.5
1310839,zzegBuMzhUosuUcyDNWncQ,2012,04,NaN,0,4,1,2,"Flowers & Gifts,Shopping,Florists",Abbey Rose Florist,3,4.5
1310840,zzegBuMzhUosuUcyDNWncQ,2013,02,NaN,0,5,1,2,"Flowers & Gifts,Shopping,Florists",Abbey Rose Florist,3,4.5
1310841,zzegBuMzhUosuUcyDNWncQ,2015,08,NaN,0,5,1,2,"Flowers & Gifts,Shopping,Florists",Abbey Rose Florist,3,4.5
1310842,zzhSCOVTZ7MUKOAfwT-Bsw,2011,04,NaN,0,5,1,2,"Shopping,Nurseries & Gardening,Home & Garden",Paradigm Gardens,6,5.0
1310843,zzhSCOVTZ7MUKOAfwT-Bsw,2013,05,NaN,0,5,1,2,"Shopping,Nurseries & Gardening,Home & Garden",Paradigm Gardens,6,5.0
1310844,zzhSCOVTZ7MUKOAfwT-Bsw,2015,09,NaN,0,4,1,2,"Shopping,Nurseries & Gardening,Home & Garden",Paradigm Gardens,6,5.0
1310845,zzhSCOVTZ7MUKOAfwT-Bsw,2016,05,NaN,0,5,1,2,"Shopping,Nurseries & Gardening,Home & Garden",Paradigm Gardens,6,5.0
1310846,zzknylIEbiITBePfIYjXfA,2015,07,NaN,0,5,1,NaN,"Home Services,Heating & Air Conditioning/HVAC",Green Star Home Services,7,3.5
1310847,zzknylIEbiITBePfIYjXfA,2015,08,NaN,0,1,1,NaN,"Home Services,Heating & Air Conditioning/HVAC",Green Star Home Services,7,3.5
1310848,zzknylIEbiITBePfIYjXfA,2015,09,NaN,0,5,2,NaN,"Home Services,Heating & Air Conditioning/HVAC",Green Star Home Services,7,3.5
1310849,zzknylIEbiITBePfIYjXfA,2015,10,NaN,0,5,1,NaN,"Home Services,Heating & Air Conditioning/HVAC",Green Star Home Services,7,3.5
1310850,zzknylIEbiITBePfIYjXfA,2016,06,NaN,0,1,1,NaN,"Home Services,Heating & Air Conditioning/HVAC",Green Star Home Services,7,3.5
1310851,zzxb0YNkRvH1UgifuR3BvQ,2013,11,NaN,0,5,1,NaN,"Medical Centers,Health & Medical",Sonora Quest Laboratories,3,5.0
1310852,zzxb0YNkRvH1UgifuR3BvQ,2014,07,NaN,0,5,1,NaN,"Medical Centers,Health & Medical",Sonora Quest Laboratories,3,5.0

In [118]:
categories_list = business_tips_reviews['categories'].tolist()
broad_categories = []
for i in business_tips_reviews.index:
    category = str(categories_list[i])
    if 'Restaurants' in category or 'Food' in category:
        new_category = 'Eateries'
    elif 'Shopping' in category or  'Hotel' in category or 'Nightlife' in category or 'Entertainment' in category:
        new_category = 'Lifestyle & Entertainment'
    elif 'Medical' in category or 'Active' in category or 'Fitness' in category or 'Beauty' in category:
        new_category = 'Health & Beauty'
    elif 'Auto' in category:
        new_category = 'Auto'
    else:
        new_category = 'Others'
    broad_categories.append(new_category)
business_tips_reviews['broad_categories'] = broad_categories

In [119]:

business_tips_reviews.head(n=10)

,business_id,year,month,user_id,tips_count,stars_x,review_count_x,attributes_Price Range,categories,name,review_count_y,stars_y,broad_categories
0,--0ZoBTQWQra1FxD4rBWmg,2014,03,[3qWT-hhx44Yl48UcX7fdQQ],1,0,0,NaN,"Property Management,Home Services,Real Estate",Bourquin Residential Group,4,2,Others
1,--0ZoBTQWQra1FxD4rBWmg,2015,10,[tTQwXGXwGrcEnrJ4gziGAg],1,1,1,NaN,"Property Management,Home Services,Real Estate",Bourquin Residential Group,4,2,Others
2,--0ZoBTQWQra1FxD4rBWmg,2014,12,NaN,0,1,1,NaN,"Property Management,Home Services,Real Estate",Bourquin Residential Group,4,2,Others
3,--0ZoBTQWQra1FxD4rBWmg,2016,01,NaN,0,3,2,NaN,"Property Management,Home Services,Real Estate",Bourquin Residential Group,4,2,Others
4,--1emggGHgoG6ipd_RMb-g,2013,06,[5hBsVMJOc8sXMPt8S3NjmA],1,5,1,1,"Food,Convenience Stores",Sinclair,4,4,Eateries
5,--1emggGHgoG6ipd_RMb-g,2013,09,[6DuBPBgCN6YMowFwrp_P5g],1,0,0,1,"Food,Convenience Stores",Sinclair,4,4,Eateries
6,--1emggGHgoG6ipd_RMb-g,2014,02,[jt4zoa6tk5q-4mWtuKHEPg],1,0,0,1,"Food,Convenience Stores",Sinclair,4,4,Eateries
7,--1emggGHgoG6ipd_RMb-g,2014,04,[jlEAr91TDq1cdeE7P_MPnQ],1,0,0,1,"Food,Convenience Stores",Sinclair,4,4,Eateries
8,--1emggGHgoG6ipd_RMb-g,2014,06,[iHbJlgmSTdZro6j8od1Phw],1,4,1,1,"Food,Convenience Stores",Sinclair,4,4,Eateries
9,--1emggGHgoG6ipd_RMb-g,2014,07,[jt4zoa6tk5q-4mWtuKHEPg],1,0,0,1,"Food,Convenience Stores",Sinclair,4,4,Eateries

In [120]:
business_tips_reviews['attributes_Price Range'].fillna(0,inplace=True)
del business_tips_reviews['categories']

In [88]:
business_tips_reviews.rename(columns = {'review_count_':'review_count'})

,business_id,year,month,tips_count,review_count,attributes_Price Range,name,review_count_y,stars,broad_categories
0,--0ZoBTQWQra1FxD4rBWmg,2014,03,1,0,0,Bourquin Residential Group,4,2.0,Others
1,--0ZoBTQWQra1FxD4rBWmg,2015,10,1,1,0,Bourquin Residential Group,4,2.0,Others
2,--0ZoBTQWQra1FxD4rBWmg,2014,12,0,1,0,Bourquin Residential Group,4,2.0,Others
3,--0ZoBTQWQra1FxD4rBWmg,2016,01,0,2,0,Bourquin Residential Group,4,2.0,Others
4,--1emggGHgoG6ipd_RMb-g,2013,06,1,1,1,Sinclair,4,4.0,Eateries
5,--1emggGHgoG6ipd_RMb-g,2013,09,1,0,1,Sinclair,4,4.0,Eateries
6,--1emggGHgoG6ipd_RMb-g,2014,02,1,0,1,Sinclair,4,4.0,Eateries
7,--1emggGHgoG6ipd_RMb-g,2014,04,1,0,1,Sinclair,4,4.0,Eateries
8,--1emggGHgoG6ipd_RMb-g,2014,06,1,1,1,Sinclair,4,4.0,Eateries
9,--1emggGHgoG6ipd_RMb-g,2014,07,1,0,1,Sinclair,4,4.0,Eateries
10,--1emggGHgoG6ipd_RMb-g,2014,10,1,0,1,Sinclair,4,4.0,Eateries
11,--1emggGHgoG6ipd_RMb-g,2013,10,0,1,1,Sinclair,4,4.0,Eateries
12,--4Pe8BZ6gj57VFL5mUE8g,2014,07,1,1,3,Office Max,9,3.0,Lifestyle & Entertainment
13,--4Pe8BZ6gj57VFL5mUE8g,2016,06,1,1,3,Office Max,9,3.0,Lifestyle & Entertainment
14,--4Pe8BZ6gj57VFL5mUE8g,2009,01,0,1,3,Office Max,9,3.0,Lifestyle & Entertainment
15,--4Pe8BZ6gj57VFL5mUE8g,2011,04,0,1,3,Office Max,9,3.0,Lifestyle & Entertainment
16,--4Pe8BZ6gj57VFL5mUE8g,2013,08,0,1,3,Office Max,9,3.0,Lifestyle & Entertainment
17,--4Pe8BZ6gj57VFL5mUE8g,2013,12,0,1,3,Office Max,9,3.0,Lifestyle & Entertainment
18,--4Pe8BZ6gj57VFL5mUE8g,2015,06,0,1,3,Office Max,9,3.0,Lifestyle & Entertainment
19,--4Pe8BZ6gj57VFL5mUE8g,2015,07,0,1,3,Office Max,9,3.0,Lifestyle & Entertainment
20,--5jkZ3-nUPZxUvtcbr8Uw,2011,09,2,0,1,Mika's Greek,127,4.5,Eateries
21,--5jkZ3-nUPZxUvtcbr8Uw,2011,11,1,0,1,Mika's Greek,127,4.5,Eateries
22,--5jkZ3-nUPZxUvtcbr8Uw,2011,12,1,1,1,Mika's Greek,127,4.5,Eateries
23,--5jkZ3-nUPZxUvtcbr8Uw,2012,01,1,0,1,Mika's Greek,127,4.5,Eateries
24,--5jkZ3-nUPZxUvtcbr8Uw,2012,03,1,0,1,Mika's Greek,127,4.5,Eateries
25,--5jkZ3-nUPZxUvtcbr8Uw,2012,04,1,0,1,Mika's Greek,127,4.5,Eateries
26,--5jkZ3-nUPZxUvtcbr8Uw,2012,09,1,0,1,Mika's Greek,127,4.5,Eateries
27,--5jkZ3-nUPZxUvtcbr8Uw,2012,10,1,0,1,Mika's Greek,127,4.5,Eateries
28,--5jkZ3-nUPZxUvtcbr8Uw,2013,02,1,1,1,Mika's Greek,127,4.5,Eateries
29,--5jkZ3-nUPZxUvtcbr8Uw,2013,06,1,1,1,Mika's Greek,127,4.5,Eateries
...,...,...,...,...,...,...,...,...,...,...
1310823,zzGy7cD_5E6sEhs-__u4Pg,2015,10,0,3,0,"Rose's Alterations, Tailoring & Bridal Service...",6,3.5,Others
1310824,zzGy7cD_5E6sEhs-__u4Pg,2016,02,0,1,0,"Rose's Alterations, Tailoring & Bridal Service...",6,3.5,Others
1310825,zzYURqVx-3W5STDMmh6oxw,2013,07,0,1,2,Babydoll Weddings,13,4.5,Health & Beauty
1310826,zzYURqVx-3W5STDMmh6oxw,2013,09,0,1,2,Babydoll Weddings,13,4.5,Health & Beauty
1310827,zzYURqVx-3W5STDMmh6oxw,2013,10,0,1,2,Babydoll Weddings,13,4.5,Health & Beauty
1310828,zzYURqVx-3W5STDMmh6oxw,2013,11,0,1,2,Babydoll Weddings,13,4.5,Health & Beauty
1310829,zzYURqVx-3W5STDMmh6oxw,2014,02,0,1,2,Babydoll Weddings,13,4.5,Health & Beauty
1310830,zzYURqVx-3W5STDMmh6oxw,2014,03,0,1,2,Babydoll Weddings,13,4.5,Health & Beauty
1310831,zzYURqVx-3W5STDMmh6oxw,2014,11,0,1,2,Babydoll Weddings,13,4.5,Health & Beauty
1310832,zzYURqVx-3W5STDMmh6oxw,2015,01,0,1,2,Babydoll Weddings,13,4.5,Health & Beauty
1310833,zzYURqVx-3W5STDMmh6oxw,2015,08,0,1,2,Babydoll Weddings,13,4.5,Health & Beauty
1310834,zzYURqVx-3W5STDMmh6oxw,2015,12,0,2,2,Babydoll Weddings,13,4.5,Health & Beauty
1310835,zzYURqVx-3W5STDMmh6oxw,2016,04,0,1,2,Babydoll Weddings,13,4.5,Health & Beauty
1310836,zzYURqVx-3W5STDMmh6oxw,2016,05,0,1,2,Babydoll Weddings,13,4.5,Health & Beauty
1310837,zze1eI588TqdJLs8xOzMxw,2011,04,0,1,1,Circle K,3,3.5,Eateries
1310838,zze1eI588TqdJLs8xOzMxw,2012,01,0,1,1,Circle K,3,3.5,Eateries
1310839,zzegBuMzhUosuUcyDNWncQ,2012,04,0,1,2,Abbey Rose Florist,3,4.5,Lifestyle & Entertainment
1310840,zzegBuMzhUosuUcyDNWncQ,2013,02,0,1,2,Abbey Rose Florist,3,4.5,Lifestyle & Entertainment
1310841,zzegBuMzhUosuUcyDNWncQ,2015,08,0,1,2,Abbey Rose Florist,3,4.5,Lifestyle & Entertainment
1310842,zzhSCOVTZ7MUKOAfwT-Bsw,2011,04,0,1,2,Paradigm Gardens,6,5.0,Lifestyle & Entertainment
1310843,zzhSCOVTZ7MUKOAfwT-Bsw,2013,05,0,1,2,Paradigm Gardens,6,5.0,Lifestyle & Entertainment
1310844,zzhSCOVTZ7MUKOAfwT-Bsw,2015,09,0,1,2,Paradigm Gardens,6,5.0,Lifestyle & Entertainment
1310845,zzhSCOVTZ7MUKOAfwT-Bsw,2016,05,0,1,2,Paradigm Gardens,6,5.0,Lifestyle & Entertainment
1310846,zzknylIEbiITBePfIYjXfA,2015,07,0,1,0,Green Star Home Services,7,3.5,Others
1310847,zzknylIEbiITBePfIYjXfA,2015,08,0,1,0,Green Star Home Services,7,3.5,Others
1310848,zzknylIEbiITBePfIYjXfA,2015,09,0,2,0,Green Star Home Services,7,3.5,Others
1310849,zzknylIEbiITBePfIYjXfA,2015,10,0,1,0,Green Star Home Services,7,3.5,Others
1310850,zzknylIEbiITBePfIYjXfA,2016,06,0,1,0,Green Star Home Services,7,3.5,Others
1310851,zzxb0YNkRvH1UgifuR3BvQ,2013,11,0,1,0,Sonora Quest Laboratories,3,5.0,Health & Beauty
1310852,zzxb0YNkRvH1UgifuR3BvQ,2014,07,0,1,0,Sonora Quest Laboratories,3,5.0,Health & Beauty

In [123]:

business_tips_reviews = business_tips_reviews.rename(columns = {'review_count_x':'count_reviews','review_count_y': 'total_reviews','tips_count':'count_tips','stars_x':'user_stars','stars_y':'stars_current'})

In [124]:
business_tips_reviews.head()

,business_id,year,month,user_id,count_tips,user_stars,count_reviews,attributes_Price Range,name,total_reviews,stars_current,broad_categories
0,--0ZoBTQWQra1FxD4rBWmg,2014,03,[3qWT-hhx44Yl48UcX7fdQQ],1,0,0,0,Bourquin Residential Group,4,2,Others
1,--0ZoBTQWQra1FxD4rBWmg,2015,10,[tTQwXGXwGrcEnrJ4gziGAg],1,1,1,0,Bourquin Residential Group,4,2,Others
2,--0ZoBTQWQra1FxD4rBWmg,2014,12,NaN,0,1,1,0,Bourquin Residential Group,4,2,Others
3,--0ZoBTQWQra1FxD4rBWmg,2016,01,NaN,0,3,2,0,Bourquin Residential Group,4,2,Others
4,--1emggGHgoG6ipd_RMb-g,2013,06,[5hBsVMJOc8sXMPt8S3NjmA],1,5,1,1,Sinclair,4,4,Eateries

In [126]:
del business_tips_reviews['user_id']

In [127]:
business_tips_reviews.to_csv('business_tips_reviews.csv')